@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome, @Model.staffName!</h1>
        <p>The new system for requesting study leave and appraisals.</p>
    </div>

    @if (!Model.isLive)
    {
        <h1 class="text-center redtext">NOTE: This is a test system, work completed here will not be reflected in production</h1>
    }

    @if (Model.notificationMessage != null && Model.notificationMessage != "")
    {
        <h1 class="text-center redtext">@Model.notificationMessage</h1>
    }

    <div class="row mb-5 g-5">        
        <a type="button" class="btn btn-lg btn-outline-primary" asp-area="" asp-page="/StudyLeave/Index">Study Leave Requests</a>
        <a type="button" class="btn btn-lg btn-outline-primary" asp-area="" asp-page="/Appraisals/Index">Appraisals</a>
    </div>
    <div class="row mb-5 g-5">
        <div class="col-md-4">
            <a type="button" class="btn btn-lg btn-outline-primary w-100" asp-area="" asp-page="/ClinicData/Index">Clinic Data</a>
        </div>
        <div class="col-md-4">
            <a type="button" class="btn btn-lg btn-outline-primary w-100" asp-area="" asp-page="/ReferralsData/Index">Referral Data</a>
        </div>
        <div class="col-md-4">
            <a type="button" class="btn btn-lg btn-outline-primary w-100" asp-area="" asp-page="/TriagesData/Index">Triage Data</a>
        </div>
    </div>




</div>